/*--------------------------------------------------------------
# About Pages
--------------------------------------------------------------*/

// Clear header
.content-wrapper {
  padding-top: 140px;
}

// Title accent line
.title-blue-line {
  width: 150px;
  height: 5px;
  background: $color__accent;
  margin: 0 auto;
}

/* About Team */

.management-team-container {
  height: 200px;
  width: 100%;
  background: url('../../assets/Backgrounds/management-team-background.jpg');
  background-size: cover;
  padding: 5%;
  padding-left: 20%;
  padding-right: 20%;
  h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 2.5%;
  }
}
