// SECURITY

    .applications-security-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        
    }
    .applications-security-hero{
        width: 100%;
        height: 1100px;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        background-color: lightgrey;
        @media (min-width: $desktop_width) {
            height: 600px;
            flex-direction: row;
        }
    }
    .applications-security-img {
        width: 100%;
        height: 500px;
        @media (min-width: $desktop_width) {
            width: 50%;
            height: 500px;
    }
    }
    .applications-security-post {
        width: 100%;
        height: 500px;
        padding: 78px 44px 0 44px;
        text-align: center;
        .title-blue-line   {
            width: 100px;
        }   
        .entry-title { 
            display:none;
            }
        @media (min-width: $desktop_width) {
            width: 50%;
            height: 500px;
    }
    }

// TRANSPORTATION
    .applications-transpo-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row; 
    }
    .applications-transpo-hero{
        width: 100%;
        height: 1100px;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        background-color: white;
        @media (min-width: $desktop_width) {
            height: 600px;
            flex-direction: row;
        }
    }
    .applications-transpo-img {
        width: 100%;
        height: 500px;
        @media (min-width: $desktop_width) {
            width: 50%;
            height: 500px;
    }
    }
    .applications-transpo-post {
        width: 100%;
        height: 500px;
        padding: 78px 44px 0 44px;
        text-align: center;
        .title-blue-line {
            width: 100px;
        }
        .entry-title { 
            display:none;
            }
        @media (min-width: $desktop_width) {
            width: 50%;
            height: 500px;
    }
    }
    .applications-transpo-wrapper2 {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .applications-transpo-hero2{
        width: 100%;
        height: 1100px;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        background-color: lightgrey;
        @media (min-width: $desktop_width) {
            height: 600px;
            flex-direction: row;
        }
    }
    .applications-transpo-img2 {
        width: 100%;
        height: 500px;
        @media (min-width: $desktop_width) {
            width: 50%;
            height: 500px;
    }
    }
    .applications-transpo-post2 {
        width: 100%;
        height: 500px;
        padding: 78px 44px 0 44px;
        text-align: center;
        .title-blue-line   {
            width: 100px;
        }   
        .entry-title { 
            display:none;
            }
        @media (min-width: $desktop_width) {
            width: 50%;
            height: 500px;
    }
    }
    
// next