// SECURITY

    .applications-security-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-top: 100px;
        margin-top: 100px;
    }
    .applications-security-hero{
        width: 100%;
        height: 1100px;
        display: flex;
        flex-direction: column;
        padding-top: 160px;
        background-color: rgb(247, 247, 247);
        @media (min-width: $desktop_width) {
            height: 560px;
            flex-direction: row;
        }
    }
    .applications-security-img {
        width: 100%;
        height: 400px;
        padding-top: 14px;
        @media (min-width: $desktop_width) {
            width: 50%;
            height: 400px;
    }
    }
    .applications-security-image {
        background-image: url("../../assets/icons-SVG/Valo-Smart-Security.jpg");
        background-size: cover;
        height: 364px;
        width: 98%;
        margin: 0 auto;
    }

    .applications-security-post {
        width: 100%;
        height: 500px;
        padding: 38px 44px 0 44px;
        text-align: center;
     
        p {
            text-align: center;
            margin: 0 auto;
            margin-top: 36px;
            max-width: 600px;
            @media (min-width: $desktop_width) {
                text-align: left;
            }
        }
        .title-blue-line   {
            width: 60px;
        }   
        @media (min-width: $desktop_width) {
            width: 50%;
            height: 500px;
    }
    }

// TRANSPORTATION
    .applications-transpo-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row; 
    }
    .applications-transpo-hero{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-top: 120px;
        background-color: rgb(240, 240, 240);
        @media (min-width: $desktop_width) {
            height: 540px;
            flex-direction: row;
        }
    }
    .applications-transpo-img {
        display: none;
        @media (min-width: $desktop_width) {
        display: block;
            width: 50%;
            height: 500px;
    }
    }
    .applications-transpo-image {
    background-image: url("../../assets/icons-SVG/Valo-Smart-Transportation.jpg");
    background-size: cover;
    height: 420px;
    width: 100%;
    margin: 0 auto;
    }
    .applications-transpo-post {
        width: 100%;
        height: auto;
        padding: 38px 44px 0 44px;
        margin-bottom: 44px;
        text-align: center;
        .title-blue-line {
            width: 100px;
        }
        @media (min-width: $desktop_width) {
            width: 50%;
            height: 400px;
    }
    }
    .applications-transpo-wrapper2 {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .applications-transpo-hero2{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: rgb(240, 240, 240);
        @media (min-width: $desktop_width) {
            height: 500px;
            flex-direction: row;
        }
    }
    .applications-transpo-img2 {
        display: none;
        @media (min-width: $desktop_width) {
        display: block;
            width: 50%;
            height: 480px;
    }
    }
    .applications-transpo-post2 {
        width: 100%;
        height: auto;
        padding: 38px 44px 0 44px;
        text-align: center;
        margin-bottom: 48px;
        .title-blue-line   {
            width: 100px;
        }   
        .entry-title { 
            display:none;
            }
        @media (min-width: $desktop_width) {
            width: 50%;
            height: 480px;
    }
    }
    .applications-transpo-image2 {
        display: none;
        @media (min-width: $desktop_width) {
        display: block;
        background-image: url("../../assets/icons-SVG/parking-image-1.png");
        background-size: cover;
        height: 480px;
        width: 100%;
        margin: 0 auto;
        }
        }
// next