.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3% 15%;

  #form-title {
    font-family: $font__main;
    color: black;
    font-size: 20px;
    font-weight: bold;
    @include tablet {
      font-size: 35px;
    }

    @include footer_row {
      font-size: 30px;
    }
  }

  #form-title:after {
    content: '';
    border-bottom: 2px solid $color__accent;
    width: 50px;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
  }

  .wpcf7-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include footer_row {
      min-width: 800px;
    }

    @include tablet {
      display: block;
      min-width: 600px;
    }

    input {
      border: 1px solid #e6e6e6;
    }

    input:focus {
      outline: none;
    }

    input[type='text'],
    input[type='email'] {
      width: 100%;
      height: 40px;
    }

    input:not(.browser-default):focus:not([readonly]) {
      border: 1px solid #e6e6e6;
      box-shadow: none;
    }
    label {
      font-family: $font__main;
      color: black;
      font-size: 14px;
    }
    input[type='submit'] {
      background: $color__accent;
      color: #fff;
      box-shadow: none;

      text-shadow: none;
      color: #fff;
      font-family: $font__main;
      border-radius: 8px;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 20px;
    }
    input[type='submit']:hover {
      background: $color__border-abbr;
    }
    .wpcf7-not-valid-tip {
      color: $color__accent;
      font-family: $font__main;
    }
    .wpcf7-response-output {
      color: $color__accent;
      font-family: $font__main;
      border: none;
    }
  }
}

.site-footer {
  background-color: black;
  .site-info {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 250px;
    @include footer_row {
      flex-direction: row;
    }
    h1 {
      font-size: 20px;
      color: #fff;
      font-family: $font__main;
    }
    p {
      font-size: 16px;
      color: #fff;
      margin: 8px 0;
      font-family: $font__main;
    }
    i.fa {
      color: #fff;
      font-size: 13px;
    }
    a {
      margin: 8px 0;
      color: #fff;
      text-decoration: none;
    }
    a:hover {
      color: $color__accent;
    }
    h3 {
      color: $color__accent;
      font-size: 20px;
      font-family: $font__main;
      font-weight: bold;
    }
    .icon-container {
      display: flex;
      margin-left: 0;
      @include footer_row {
        margin-left: 8%;
      }
    }
    .icon-background {
      background: $color__text-main;
      height: 25px;
      width: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 50%;
      padding: 5px;
      margin-right: 1%;
    }
    .icon-background:hover {
      background: $color__accent;
    }
    .contact-us {
      flex-basis: 30%;
      margin-bottom: 30px;
      padding: 10px;
    }
    .useful-links {
      display: flex;
      flex-direction: column;
      flex-basis: 30%;
      margin-bottom: 30px;
      padding: 10px;
    }
    .news {
      flex-basis: 40%;
      margin-bottom: 30px;
      padding: 10px 0 10px 10px;
    }
    .logo {
      display: flex;
      flex-direction: column;
      @include footer_row {
        flex-direction: row;
      }
      justify-content: space-between;
      align-items: center;
      flex-basis: 100%;
      border-top: 1px solid $color__border-abbr;
      #logo {
        height: 100px;
        width: 150px;
      }
    }
    #email-link {
      color: $color__accent;
      font-family: $font__main;
      font-weight: bold;
      font-size: 20px;
    }
    #email-link:hover {
      text-decoration: underline;
    }
    .caps {
      text-transform: uppercase;
    }
    .journal-date {
      font-size: 12px;
    }
    #copy {
      font-family: $font__main;
      font-size: 14px;
      color: $color__border-abbr;
    }
  }
}
