$desktop_width: 1000px;
$footer_row: 800px;
$tablet_width: 600px;
$header_width: 900px;

.header-wrapper {
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    margin-top: -40px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: white;
    .fa-mobile {
        display: none;
        @media (min-width: 1100px) {
        display: block;
        padding-top: 40px;
        margin-left: 20px;
        font-size: 44px;
    }
}
}
.header-logo-image {
    height: 140px;
    padding-left: 24%;
    width: 170px;
    padding-bottom: 30px;
    @media (min-width: 700px) {
        height: 180px;
        padding-left: 24%;
        width: 220px;
    }
}
.header-logo {
    opacity: 50%;
    height: 100%;
    width: 16%;
    min-width: 200px;
}
.nav {
    background-color: white !important;
}
#mega-toggle-block-1 {
    padding-top: 20px;
}
.header-contact-desktop {
    background-color: white;
    display: none;
    @media (min-width: 700px) {
        position: relative;
        display: block;
        width: 44%;
        margin-left: 24px;
        padding-top: 24px;
        @media (min-width: 1100px) {
            width: 20%;
    }
}
    h3 {
        font-size: 16px;
    }
    p1 {
        position: relative;
        bottom: 20px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color:$color__accent;
    }
}
.header-contact-mobile {
    display: block;
}

