.hero-container-dark {
  background-color: #000;
  background: url('../../assets/Backgrounds/footer-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;

  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet {
    height: 40vh;
    min-height: 300px;
    max-height: 400px;
  }
}

.news-categories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 400px;
  text-align: center;
  margin: 60px auto;
}
.tax-filter {
  padding: 0 20px;
  &:hover {
    border-bottom: 1px solid $color__accent;
  }
}

.active-filter {
  border-bottom: 1px solid $color__accent;
}

.filtered-posts {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media all and (min-width: 770px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  article {
    margin: 20px 20px;
    width: 90%;

    @media all and (min-width: 770px) {
      width: 27vw;
      min-width: 300px;
    }
  }
}

.news-image-wrapper {
  overflow: hidden;
  height: 90vw;
  max-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 770px) {
    height: 27vw;
    max-height: 380px;
    max-width: 380px;
  }
  @include large {
    max-width: 560px;
    max-height: 560px;
  }
  a {
    background: #000;
    height: 100%;
    .wp-post-image {
      min-height: 100%;
      max-width: none;
      width: auto;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
