/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

// Clear header
.content-wrapper {
  padding-top: 140px;
}

/* Front page */

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../assets/still-header/valo-still-header-01.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain; // height: 500px;
  @include tablet {
    background-size: cover;
  }
}
